#workshops {
    .levelContainer {
        display: grid;
        grid-template-columns: 1.6fr 0.4fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2.25rem 2.2rem;
        grid-template-areas:
            "level3 apply"
            "level2 register"
            "level1 register";
        #level3 {
            display: grid;
            background-color: $gray-dark;
            grid-template-columns: 0.4fr 1.8fr 0.9fr 0.9fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "number _text _image quote"
                "number _text _image quote"
                "number _text _image quote";
            grid-area: level3;
            height: 100%;
            .numberContainer {
                //background-color: blue;
                background-color: $white;
                grid-area: number;
                padding: 2px;
                color: $gray-dark;
                font-weight: 600;
                font-size: 18.7rem;
                text-align: right;
                // position: absolute;
                // right: 0rem;
                // height: fit-content;
            }
            .imageContainer {
                grid-area: _image;
                justify-self: center;
                place-self: center;
                .imgCircle {
                    background-color: $gray-middle;
                    border-radius: 50%;
                    padding: 1.7rem;
                    img {
                        width: 170px;
                    }
                }
            }

            .textContainer {
                //background-color: $gray-dark;
                grid-area: _text;
                padding: 3rem;
                h3 {
                    padding: 0.5rem 0rem 0.75rem 0rem;
                }
                p {
                    margin-bottom: 1.5rem;
                    color: $white;
                }
                .button {
                    color: $white;
                }
            }
            .quoteContainer {
                //background-color: $gray-dark;
                grid-area: quote;
                justify-self: center;
                display: flex;
                align-items: center;
                flex-direction: column;

                padding: 2.5rem;
                img {
                    width: 140px;
                    position: relative;
                    bottom: -170px;
                    right: -58px;
                }
                blockquote {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    font-weight: 300;
                    color: $white;
                    position: relative;
                    top: -90px;
                }
            }
        }
        #applyWorkshop {
            background-color: $white-dark;
            grid-area: apply;
            padding: 1rem 1rem 1rem 1rem;
            background-color: $white-dark;
            color: $gray-apply;
            text-align: center;
            display: flex;
            align-items: center;
            height: 332px;
            p {
                font-size: 2rem;
                text-align: center;
            }
        }
        #level2 {
            display: grid;
            background-color: $gray-dark;
            grid-template-columns: 0.4fr 0.9fr 0.9fr 1.8fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "number quote _image _text"
                "number quote _image _text"
                "number quote _image _text";
            grid-area: level2;
            height: 332px;
            .numberContainer {
                //background-color: blue;
                background-color: $white;
                grid-area: number;
                padding: 2px;
                color: $gray-dark;
                font-weight: 600;
                font-size: 18.7rem;
                text-align: right;
                // position: absolute;
                // right: 0rem;
                // height: fit-content;
            }
            .imageContainer {
                grid-area: _image;
                justify-self: center;
                place-self: center;
                .imgCircle {
                    background-color: $gray-middle;
                    border-radius: 50%;
                    padding: 1.7rem;
                    img {
                        width: 170px;
                    }
                }
            }

            .textContainer {
                //background-color: $gray-dark;
                grid-area: _text;
                padding: 3rem;
                h3 {
                    padding: 0.5rem 0rem 0.75rem 0rem;
                }
                p {
                    margin-bottom: 1.5rem;
                    color: $white;
                }
                .button {
                    color: $white;
                }
            }
            .quoteContainer {
                //background-color: $gray-dark;
                grid-area: quote;
                justify-self: center;
                display: flex;
                align-items: center;
                flex-direction: column;

                padding: 2.5rem;
                img {
                    width: 140px;
                    position: relative;
                    bottom: 40px;
                    right: -58px;
                }
                blockquote {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    font-weight: 300;
                    color: $white;
                    position: relative;
                    top: -10px;
                }
            }
        }
        #level1 {
            display: grid;
            background-color: $gray-dark;
            grid-template-columns: 0.4fr 0.9fr 1.8fr 0.9fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "number _image _text quote"
                "number _image _text quote"
                "number _image _text quote";
            grid-area: level1;
            height: 332px;
            .numberContainer {
                //background-color: blue;
                background-color: $white;
                grid-area: number;
                padding: 2px;
                color: $gray-dark;
                font-weight: 600;
                font-size: 18.7rem;
                text-align: right;
                // position: absolute;
                // right: 0rem;
                // height: fit-content;
            }
            .imageContainer {
                grid-area: _image;
                justify-self: center;
                place-self: center;
                .imgCircle {
                    background-color: $gray-middle;
                    border-radius: 50%;
                    padding: 1.7rem;
                    img {
                        width: 170px;
                    }
                }
            }

            .textContainer {
                //background-color: $gray-dark;
                grid-area: _text;
                padding: 3rem;
                h3 {
                    padding: 0.5rem 0rem 0.75rem 0rem;
                }
                p {
                    margin-bottom: 1.5rem;
                    color: $white;
                }
                .button {
                    color: $white;
                }
            }
            .quoteContainer {
                //background-color: $gray-dark;
                grid-area: quote;
                justify-self: center;
                display: flex;
                align-items: center;
                flex-direction: column;

                padding: 2.5rem;
                img {
                    width: 140px;
                    position: relative;
                    bottom: -170px;
                    right: -58px;
                }
                blockquote {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    font-weight: 300;
                    color: $white;
                    position: relative;
                    top: -90px;
                }
            }
        }
        #registerContainer1 {
            display: none;
            height: 0px;
            width: 0px;
            grid-area: register;
        }
        #registerContainer2 {
            grid-area: register;
            // grid-row: 2 / span 2;
            // grid-column: 2 / span 1;
            padding: 1rem 1rem 1rem 1rem;
            background-color: $white-dark;
            color: $gray-apply;
            text-align: center;
            display: flex;
            align-items: center;
            height: 100%;
            p {
                font-size: 2rem;
                text-align: center;
            }
        }
    }
}

@include breakpoint(0, $mobile) {
    #workshops {
        .levelContainer {
            .level,
            #level3,
            #level2,
            #level1 {
                display: grid;
                grid-template-columns: 5fr 1fr;
                grid-template-rows: 20px auto auto;
                grid-template-areas: "_image _image apply" "_text _text apply" "quote quote apply";
                background-color: $gray-dark;
                margin-top: 100px;
                .numberContainer {
                    grid-area: _image;
                    background-color: $gray-light;
                    width: 40px;
                    height: 40px;
                    padding: 6px;
                    color: $orange-dark;
                    font-weight: 600;
                    font-size: 1.75rem;
                    text-align: center;
                    border-radius: 50%;
                    position: relative;
                    left: 55%;
                    top: -75px;
                }
                .imageContainer {
                    grid-area: _image;
                    justify-self: center;
                    position: relative;
                    bottom: 70px;
                    .imgCircle {
                        background-color: $gray-middle;
                        border-radius: 50%;
                        padding: 1.7rem;
                        position: relative;
                        z-index: 10;
                        img {
                            width: 80px;
                        }
                    }
                }
                .textContainer {
                    grid-area: _text;
                    padding: 1rem;
                    margin-top: 70px;
                    h3 {
                        padding: 0.5rem 0rem 0.75rem 0rem;
                    }
                    p {
                        margin-bottom: 1.5rem;
                    }
                }
                .quoteContainer {
                    grid-area: quote;
                    justify-self: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding: 2.5rem;
                    img {
                        width: 70px;
                    }
                    blockquote {
                        font-size: 1.3rem;
                        margin-top: 0.5rem;
                    }
                }
                .applyContainer {
                    grid-area: apply;
                    padding: 1rem 0rem 0rem 0rem;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                }
            }
        }
    }
}

#about {
    background-color: $orange-white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 8rem 2rem 11rem 2rem;

    .imgContainer {
        width: 50%;
        img {
            width: 100%;
        }
    }

    .aboutTextContainer {
        padding: 0px 1rem 0px 1rem;
        min-width: 50%;
        max-width: 550px;
        text-align: left;
        margin-top: 2rem;
        p {
            max-width: 590px;
            font-size: 1.37rem;
        }
        h2 {
            margin-top: 0.2rem;
            margin-bottom: 1rem;
        }
        p:nth-of-type(2) {
            margin-bottom: 3rem;
        }
    }
}

@include breakpoint(0, $mobile) {
    #about {
        display: flex;
        flex-direction: column;
        padding: 4rem 0px 5rem 0px;

        .imgContainer {
            width: 100%;
            img {
                max-height: 458px;
                object-fit: cover;
            }
        }
        .aboutTextContainer {
            padding: 0px 1rem 0px 1rem;
            margin-top: 1rem;
            min-width: 100%;
            p {
                max-width: 550px;
                font-size: 1rem;
                line-height: 1.8rem;
            }
            h2 {
                margin-top: 0.2rem;
                margin-bottom: 1rem;
            }
            p:nth-of-type(2) {
                margin-bottom: 3rem;
            }
        }
    }
}

#news {
    margin-top: 8rem;
    .newsHeadline {
        padding: 0px 1rem 0px 2rem;
    }
    .articleContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        article {
            background-color: $white-dark;
            width: 575px;
            margin-bottom: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            img {
                width: 100%;
                height: 337px;
                object-fit: cover;
            }
            .arcticleTextContainer {
                padding: 1.5rem 1rem 3.5rem 1.5rem;
                p {
                    font-size: 1.37rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@include breakpoint(0, $mobile) {
    #news {
        margin-top: 3rem;
        .newsHeadline {
            padding: 0px 1rem 0px 1rem;
        }
        .articleContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            article {
                width: 93%;
                margin-bottom: 2rem;
                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
                .arcticleTextContainer {
                    padding: 1rem 1rem 3.5rem 1rem;
                    p {
                        font-size: 1rem;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}
